video {
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

.projects {
    display: inline-block;
}

span.project-small {
    width: 250px;
    display: inline-block;
    font-size: 0.8em;
}